<!--Seccion de progreso-->
<section class="encabezado-panel" style="margin: auto;padding: 30px 30px 30px 30px;background:#282828;opacity: 0.9;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-radius:20px;">
    <h1 style="color:#FFFFFF">Informacion materia</h1>

<!--=================================================-->
<!--              Barras de progreso                 -->
<!--=================================================-->
<!--
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4" align="center">
          <div class="first circle" style="width: 100%;height: 100%;">
          </div>
          <h4 style="color:#989898"><STRONG>Progreso 1</STRONG></h4>
          <h4 style="color:#05BCA9"><STRONG>92%</STRONG></h4>
        </div>
        <div class="col-md-4" align="center">
          <div class="second circle" style="width: 100%;height: 100%;size:280%">
          </div>
          <h4 style="color:#989898"><STRONG>Progreso 2</STRONG></h4>
          <h4 style="color:#05BCA9"><STRONG>18%</STRONG></h4>
        </div>
        <div class="col-md-4" align="center">
          <div class="third circle" style="width: 100%;height: 100%;">
          </div>
          <h4 style="color:#989898"><STRONG>Progreso 3</STRONG></h4>
          <h4 style="color:#05BCA9"><STRONG>65%</STRONG></h4>
        </div>
      </div>
    </div>

<script type="text/javascript">
$('.first.circle').circleProgress({
    value: 0.92
}).on('circle-animation-progress', function(event, progress) {
    $(this).find('strong').html(parseInt(100 * progress) + '<i>%</i>');
});
$('.second.circle').circleProgress({
    value: 0.18
}).on('circle-animation-progress', function(event, progress) {
    $(this).find('strong').html(parseInt(100 * progress) + '<i>%</i>');
});
$('.third.circle').circleProgress({
    value: 0.65
}).on('circle-animation-progress', function(event, progress) {
    $(this).find('strong').html(parseInt(100 * progress) + '<i>%</i>');
});
</script>
-->

</section><!-- seccion-progress -->

<!--Seccion de informacion-->

<section class="horario-panel">
  	<div class="col-md-12">
  		<div class="row">
  			<div class="col-md-6" align="center" >
<!--Lista de enlaces-->
          <h1 style="color:#05BCA9">Enlaces de la clase <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="background:transparent;border-color:transparent;color:#05BCA9;box-shadow: none;"><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i></button></h1>
          <div class="list-group">
                <div>
                <div ng-repeat="enlace in enlaces_materia">
                   <a href="http://{{enlace.Enlace}}" class="list-group-item" >
                    <h4 class="list-group-item-heading">{{enlace.Titulo}}</h4>
                    <p class="list-group-item-text">{{enlace.Enlace}}</p>
                    <h5 class="list-group-item-heading">{{enlace.Comentario}}</h5>
                    </a><!-- list-item -->
                </div>
                </div>
               
            </div><!-- div-list -->
  			</div><!-- div-columna -->
  			<div class="col-md-6" align="center">

            <h1 style="color:#05BCA9">Crea una alerta</h1>
            <form ng-submit="guardar_alerta()">
              <div class="well" align="center" style="border-radius: 10px;background:#05BCA9;max-width:600px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <div class="row">
                <h4>Añadir comentario en la alerta</h4>
                  <div class="input-group"  style="width:100%;padding: 30px 30px 30px 30px;">
                  <div class="form-group">
                    <input type="text" style="width:100%;" class="form-control" placeholder="Comentario" ng-model="alerta.descripcionAlerta" pattern=".{4,120}" required title="Minimum 4 characters">
                  </div>
                      <span class="input-group-btn" >
                          <button class="btn btn-default" type="submit">Enviar</button>
                      </span>
                  </div><!-- /input-group -->
                  <span style="color:white;">max 120 caracteres</span>
                </div><!-- /.row -->
              </div><!-- div-panel-alert -->
            </form>
               

            <h1 style="color:#05BCA9">Alertas</h1>

              <div ng-repeat="alerta in alertas_materia" class="alert alert-info" role="alert" style="padding-top:20px;padding-bottom:20px;">
                <STRONG>{{alerta.descripcionAlerta}}</STRONG>
                <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
              </div><!-- div-alert -->
            <!--
             <ul class="todo-list" style="overflow:auto;height:200px;">
                    <li ng-repeat="alerta in alertas">
                        
                        <span class="text">{{alerta.descripcionAlerta}}</span>
                    </li>
                </ul>
                -->
            </div><!-- div-columna -->
        </div><!-- div-row -->				
    </div><!-- div-columnas -->
</section><!-- seccion-panel -->

<!--Modal de enlaces-->
<div class="container">
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title">Añade un enlace para el curso</h2>
        </div>
        <div class="modal-body">
            <form ng-submit=guardar_enlace()>
                <div class="form-group">
                  <label for="profesor">Titulo</label>
                  <input name="titulo"  ng-model="enlace.tituloEnlace" type="text" class="form-control" id="titulo" placeholder="Titulo" required>
                </div>
                <div class="form-group">
                   <label for="codigo">Enlace</label>
                   <input name="enlace" ng-model="enlace.enlace" type="text" class="form-control" id="enlace" placeholder="Enlace" required>
                </div>
                <div class="form-group">
                   <label for="curso">Comentario</label>
                   <input name="comentario" ng-model="enlace.comentarioEnlace" type="text" class="form-control" id="comentario" placeholder="Comentario">
                </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3" align="center">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" style="width:100%;">Close</button>
                    </div>
                    <div class="col-md-9" align="center">
                        <button type="submit" class="btn btn-success" style="width:100%;">Crear enlace</button>
                    </div>
                </div>
            </div>    
        </div>
        </form>  
      </div><!-- div-modal-content-->
    </div><!-- div-modal-dialog -->
  </div><!-- div-modal --> 
</div><!-- div-container-->

<!--=================================================-->
<!--            Seccion de informacion               -->
<!--=================================================-->
<!--
<section class="info-panel">
  <h1 style="color:#05BCA9">Información</h1>
    <div style="margin: auto;padding: 30px 30px 30px 30px;background:#282828;opacity: 0.9;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-radius:20px;">
      <div class="thumbnail" style="width:100%;">
        <img src="icons/logo-de-apptou.png" alt="...">
          <div class="caption">
          <h3>Thumbnail label</h3>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a href="#" class="btn btn-primary" role="button">Ver</a> <a href="#" class="btn btn-default" role="button">Cerrar</a></p>
          </div>
      </div>
      <div class="thumbnail" style="width:100%;">
        <img src="icons/logo-de-apptou.png" alt="...">
            <div class="caption">
            <h3>Thumbnail label</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a href="#" class="btn btn-primary" role="button">Ver</a> <a href="#" class="btn btn-default" role="button">Cerrar</a></p>
            </div>
      </div>
    </div>
  </section>
  -->