 <section class="sidebar">

    <div class="user-panel">
        <div class="pull-left image">
            <img src="/img/avatar3.png" class="img-circle" alt="User Image" />
        </div>
        <div class="pull-left info">
            <p>Hello, {{usuario.nombre_usuario}}</p>

            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
    </div>
    
    <ul class="sidebar-menu">
        <li class="">
            <a ui-sref="app.dashboard">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            </a>
        </li>
        <li class="">
            <a ui-sref="app.calendario">
                <i class="fa fa-calendar"></i><span>Calendario</span>
            </a>
        </li>
        <li class="">
            <a ui-sref="app.inscribir">
                <i class="fa fa-pencil-square-o"></i><span>Inscribir</span>
            </a>
        </li>
        <li class="">
            <a ui-sref="app.perfil">
                <i class="fa fa-pencil-square-o"></i><span>Perfil</span>
            </a>
        </li>        
        <!--
        <li class="">
            <a ui-sref="app.tareas">
                <i class="fa fa-check"></i> <span>Tareas</span>
            </a>
        </li>
        -->
        <li class="">
          <a data-toggle="collapse" data-target="#collapseMaterias"><i class="fa fa-university" aria-hidden="true"></i>Materias <i class="fa fa-angle-down" aria-hidden="true"></i>
          </a>
        </li>
        <div class="collapse" id="collapseMaterias">
            <ul class="sidebar-menu">
                 <li ui-sref-active="active" ng-repeat="materia in materias_inscritas " href="javascript:void(0);" class="" style="background:#F4F4F4;margin-left:1px;border-width:1px;border-left-width: 6px;border-bottom-style:solid;border-left-style:solid;border-color:#E9E8E8;border-left-color: rgba(60,141,188,0.85);;border-radius: 4px 0px 0px 4px;">
                    <a  ng-click=goToMateria(materia._id)>
                        <i class="fa fa-book"></i><span>{{materia.curso}}</span>
                    </a>
                    <i class="fa fa-trash-o" title="Eliminar Curso" aria-hidden="true" ng-click="eliminar_curso(materia)"></i>
                </li>

            </ul>
        </div>
    </ul>
</section>

<style type="text/css">
    .collapse .fa.fa-trash-o{
        color: #E74C3C;
        margin-left: 5px;
    }
    .collapse .fa.fa-trash-o:hover{
        color: #922B21;
    }
</style>