<header class="header">
      <a href="#" class="logo">
        <img src="img/logo.png" style="max-height:90%"></img>
    </a>
    
    <ng-include src="'partials/includes/navbar.html'" ></ng-include>
</header>

<!--Inicio de SideBar-->
<div class="wrapper row-offcanvas row-offcanvas-left">
    <aside class="left-side sidebar-offcanvas" >
        <ng-include src="'partials/includes/sidebar.html'" ></ng-include>
    </aside>
</div>
<!--Fin de SideBar-->

<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{modulo}}
            <small>Modulo</small>
        </h1>
        <!--ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol-->
    </section>

    <!-- Main content -->
    <section class="content" ui-view>

    </section><!-- /.content -->
</aside>