<!--encabezado de inscion de materias-->
<section class="encabezado-panel" style="margin: auto;padding: 30px 30px 30px 30px;background:#282828;opacity: 0.9;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-radius:20px;">
	<div class="row">
		  <div class="col-md-12">
			    <h1 style="color:#FFFFFF">Inscribe tus materias</h1>
			      <div class="col-md-3" align="center">
			        <h4 style="color:#FFFFFF">Numero de clases incritas: <STRONG>{{num_mat}}</STRONG></h4>
			      </div><!-- div-columna md-4 -->
                  <div  class="col-md-3" align="center">
                    <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="background:#05BCA9;border-radius:102px;font-size: 120%;"><i class="fa fa-plus-circle" aria-hidden="true"></i> Crea un nuevo curso</button>
                  </div><!-- div-columna md-4 -->
			      <div class="col-md-3" align="center">
			        <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="" style="background:#05BCA9;border-radius:102px;font-size: 120%;" ng-click="inscribir()"><i class="fa fa-check-square-o"></i> Inscribir curso</button>
			      </div><!-- div-columna md-4 -->
                  <div  class="col-md-3" align="center">
                    <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#eliminarform" style="background:#d9534f;border-radius:102px;font-size: 120%;border-color:#972828;"><i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar curso inscrito</button>
                  </div><!-- div-columna md-4 -->
		  </div><!-- div-columna -->
	</div><!-- div-row -->
</section><!-- seccion-encabezado -->

<!--Formulario de inscripción de clase-->
<div class="container">
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title">Crea un nuevo curso</h2>
        </div>
        <div class="modal-body">
            <form ng-submit=guardar()>
                <div class="form-group">
                  <label for="profesor">Profesor</label>
                  <input name="profesor"  ng-model="item.profesor" type="text" class="form-control" id="profesor" placeholder="Profesor" required>
                </div>
                <div class="form-group">
                   <label for="curso">Curso</label>
                   <input name="curso" ng-model="item.curso" type="text" class="form-control" id="curso" placeholder="Curso" required>
                </div>
                <div class="form-group">
                   <label for="semestre">Semestre</label>
                    <div class="form-group">
                      <select name="semestre" ng-model="item.semestre" class="form-control" id="sel1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                      </select>
                    </div>
                </div>
                <div class="form-group">
                   <label for="codigo">Codigo</label>
                   <input name="codigo" ng-model="item.codigo" type="text" class="form-control" id="codigo" placeholder="Codigo" required>
                </div>
                <div class="form-group">
                   <label for="dia">Dia</label>
                   <div class="checkbox" align="center">
                    <label class="checkbox-inline"><input type="checkbox" ng-model="checkboxModel.lunes" ng-change="onFieldChange()">Lunes</label>
                    <label class="checkbox-inline"><input type="checkbox" ng-model="checkboxModel.martes" ng-change="onFieldChange()">Martes</label>
                    <label class="checkbox-inline"><input type="checkbox" ng-model="checkboxModel.miercoles" ng-change="onFieldChange()">Miercoles</label>
                    <label class="checkbox-inline"><input type="checkbox" ng-model="checkboxModel.jueves" ng-change="onFieldChange()">Jueves</label>
                    <label class="checkbox-inline"><input type="checkbox" ng-model="checkboxModel.viernes" ng-change="onFieldChange()">Viernes</label>
                    <label class="checkbox-inline"><input type="checkbox" ng-model="checkboxModel.sabado" ng-change="onFieldChange()">Sabado</label>
                   </div>

                  <label for="hora">Hora</label><input type="checkbox" id="horario" ng-model="checked" ng-change="onFieldChange()"> <span>* Mismo horario todos los dias</span>
                <div class="form-group" ng-show="checked" >
                    <input name="hora" ng-model="item.hora" ng-required="checked" id="timepicker6" type="text" name="timepicker6" class="form-control" />
                </div>
                <script type="text/javascript">
                   //ng-true-value="false" ng-false-value="true"
                </script>
                <div ng-hide="checked">
                        <div class="row">
                            <div class="col-md-12"  ng-show="checkboxModel.lunes">
                                <div class="col-md-2" align="center">
                                    <STRONG style="color:#6A6A6A;">Lunes</STRONG><br>
                                </div>    
                                <div class="col-md-10" align="center">
                                    <input name="hora" ng-model="item.horalunes" id="horalunes" type="text" name="horalunes" class="form-control" ng-required=isRequiredlunes />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" ng-show="checkboxModel.martes">
                                <div class="col-md-2" align="center">
                                    <STRONG style="color:#6A6A6A;">Martes</STRONG><br>
                                </div>    
                                <div class="col-md-10" align="center">
                                    <input name="hora" ng-model="item.horamartes" id="horamartes" type="text" name="horamartes" class="form-control" ng-required=isRequiredmartes />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" ng-show="checkboxModel.miercoles">
                                <div class="col-md-2" align="center">
                                    <STRONG style="color:#6A6A6A;">Miercoles</STRONG><br>
                                </div>    
                                <div class="col-md-10" align="center">
                                    <input name="hora" ng-model="item.horamiercoles" id="horamiercoles" type="text" name="horamiercoles" class="form-control" ng-required=isRequiredmiercoles />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" ng-show="checkboxModel.jueves">
                                <div class="col-md-2" align="center">
                                    <STRONG style="color:#6A6A6A;">Jueves</STRONG><br>
                                </div>    
                                <div class="col-md-10" align="center">
                                    <input name="hora" ng-model="item.horajueves" id="horajueves" type="text" name="horajueves" class="form-control" ng-required=isRequiredjueves />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" ng-show="checkboxModel.viernes">
                                <div class="col-md-2" align="center">
                                    <STRONG style="color:#6A6A6A;">Viernes</STRONG><br>
                                </div>    
                                <div class="col-md-10" align="center">
                                    <input name="hora" ng-model="item.horaviernes" id="horaviernes" type="text" name="horaviernes" class="form-control" ng-required=isRequiredviernes />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" ng-show="checkboxModel.sabado">
                                <div class="col-md-2" align="center">
                                    <STRONG style="color:#6A6A6A;">Sabado</STRONG><br>
                                </div>    
                                <div class="col-md-10" align="center">
                                    <input name="hora" ng-model="item.horasabado" id="horasabado" type="text" name="horasabado" class="form-control" ng-required=isRequiredsabado />
                                </div>
                            </div>
                        </div>
                </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3" align="center">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" style="width:100%;">Close</button>
                    </div>
                    <div class="col-md-9" align="center">
                        <button type="submit" class="btn btn-success" style="width:100%;">Crear materia</button>
                    </div>
                </div>
            </div>    
        </div>
        </form>  
      </div><!-- div-modal-content-->
    </div><!-- div-modal-dialog -->
  </div><!-- div-modal --> 
</div><!-- div-container-->

<script type='text/javascript'>
    $('#timepicker6').timepicki({
        increase_direction:'up',
        start_time: ["06", "00", "AM"],
        step_size_hours:1,
        step_size_minutes:5});
    $('#horalunes').timepicki({
        increase_direction:'up',
        start_time: ["06", "00", "AM"],
        step_size_hours:1,
        step_size_minutes:5});
    $('#horamartes').timepicki({
        increase_direction:'up',
        start_time: ["06", "00", "AM"],
        step_size_hours:1,
        step_size_minutes:5});
    $('#horamiercoles').timepicki({
        increase_direction:'up',
        start_time: ["06", "00", "AM"],
        step_size_hours:1,
        step_size_minutes:5});
    $('#horajueves').timepicki({
        increase_direction:'up',
        start_time: ["06", "00", "AM"],
        step_size_hours:1,
        step_size_minutes:5});
    $('#horaviernes').timepicki({
        increase_direction:'up',
        start_time: ["06", "00", "AM"],
        step_size_hours:1,
        step_size_minutes:5});
    $('#horasabado').timepicki({
        increase_direction:'up',
        start_time: ["06", "00", "AM"],
        step_size_hours:1,
        step_size_minutes:5});
</script>

  <div class="container" style="padding-right: 2cm;"> 
  <section class="alertas-panel" style="margin-top: 20px;padding: 50px 50px 50px 50px;background:#F8F8F8;opacity: 0.95;">
    
  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search Course" ng-model="searchCourse">
      </div>      
    </div>
  </form>
  
  <table class="table table-bordered table-striped">
    
    <thead>
      <tr>
        <td></td>
        <td>
          <a href="#" ng-click="sortType = 'curso'; sortReverse = !sortReverse">
            Curso 
            <span ng-show="sortType == 'curso' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'curso' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'profesor'; sortReverse = !sortReverse">
          Profesor 
            <span ng-show="sortType == 'profesor' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'profesor' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'semestre'; sortReverse = !sortReverse">
          Semestre 
            <span ng-show="sortType == 'semestre' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'semestre' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'codigo'; sortReverse = !sortReverse">
          Codigo 
            <span ng-show="sortType == 'codigo' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'codigo' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'dias'; sortReverse = !sortReverse">
          Dias 
            <span ng-show="sortType == 'dias' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'dias' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'horas'; sortReverse = !sortReverse">
          Horas
            <span ng-show="sortType == 'horas' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'horas' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
      </tr>
    </thead>
    
    <tbody>
      <tr ng-repeat="materia in materias | orderBy:sortType:sortReverse | filter:searchCourse | unique: 'codigo'">
        <td><input type="checkbox" ng-checked="enroll(materia, selected)" ng-click="toggle(materia, selected)" value=""></td>
        <td>{{materia.curso}}</td>
        <td>{{materia.profesor}}</td>
        <td>{{materia.semestre}}</td>
        <td>{{materia.codigo}}</td>
        <td>{{materia.dias}}</td>
        <td>{{materia.hora}}</td>
      </tr>
    </tbody>
    
  </table>
  

</section>

<style type="text/css">
    #eliminar_btn .fa.fa-trash-o{
        color: white;
    }
</style>


<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">
            <h2>Esta materia ya existe</h2>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        </div>
</script>
