 <section class="alertas-panel" style="margin-top: 20px;padding: 50px 50px 50px 50px;background:#F8F8F8;opacity: 0.95;">
      <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th> </th>
                <th>Profesor</th>
                <th>Curso</th>
                <th>Semestre</th>
                <th>Codigo</th>
                <th>Dia</th>
                <th>Hora</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th> </th>
                <th>Profesor</th>
                <th>Curso</th>
                <th>Semestre</th>
                <th>Codigo</th>
                <th>Dia</th>
                <th>Hora</th>
            </tr>
        </tfoot>
        <tbody>
            <tr ng-repeat="materia in materias">
                <td><input type="checkbox" ng-checked="enroll(materia, selected)" ng-click="toggle(materia, selected)" value=""></td>
                <td>{{materia.profesor}}</td>
                <td>{{materia.curso}}</td>
                <td>{{materia.semestre}}</td>
                <td>{{materia.codigo}}</td>
                <td>{{materia.dias}}</td>
                <td>{{materia.hora}}</td>
            </tr>
            
        </tbody>
    </table><!-- tabla-materias -->
  </section><!-- seccion-tabla -->