<!DOCTYPE html>
<html ng-app="MainApp">
    <head>
        <!--Cambió y se agregó nuevo-->
        {% include 'links.html' %}
        
    </head>
    <body class="skin-blue" >

        {% block content %}

        {% endblock %}
        
        <!--Cambió y se agregó nuevo-->
        {% include 'scripts.html' %}
    </body>
</html>
