<section class="encabezado-panel" style="margin: auto;padding: 30px 30px 30px 30px;background:#282828;opacity: 0.9;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-radius:20px;">
	<div class="row">
		  <div class="col-md-12">
			    <h1 style="color:#FFFFFF">Administración de perfil</h1>
		  </div><!-- div-columna -->
	</div><!-- div-row -->
</section><!-- seccion-encabezado -->

<div class="row col-md-12" style="margin:5% 0;">
  <div class="col-md-4"  style="background:rgb(240,240,240);text-align:center;">
  		<h2> Imagen de perfil </h2>
  		<div style="background:white;width:350px;height:400px;margin-left:16%;margin-top:5%;" >
  		</div>
  		<h4 style="margin-top:3%;text-align:center;"><a id="registro_enlace" data-toggle="modal" data-target="#registro">editar imagen</a></h4>
  </div>
  <div class="col-md-8"  style="text-align:center;">
  	<h2> Información de perfil </h2>
  		<form ng-submit="register()" style="margin:5% 11%;">
	        <div class="form-group">
	            <input type="text" name="nombre" ng-model="usuario.nombre" class="form-control" placeholder="Nombre Completo" required/>
	        </div>
	        <div class="form-group">
	            <input type="text" name="nombre_usuario" ng-model="usuario.nombre_usuario" class="form-control" placeholder="Nombre de usuario" required/>
	        </div>
	        <div class="form-group">
	            <input type="text" name="institucion" ng-model="institucion" class="form-control" placeholder="correo institucional" required/>
	        </div>
	        <div class="form-group">
	            <input type="password" name="password" ng-model="usuario.password" class="form-control" placeholder="Password" required/>
	        </div>
	        <div class="footer">
	            <button type="submit" ng-disabled="enviando" class="btn bg-olive btn-block">Editar</button>
	        </div>
	    </form>
  </div>
</div>